---
import MyLayout from '../layouts/layout.astro'
---

<MyLayout title='Valentine'>

    <center>
        <p class="text-6xl">S & R Freelance</p>
        <br>
        <p>short blurb</p>
    </center>
    
</MyLayout>