---
import MyLayout from '../layouts/layout.astro'
---

<MyLayout title='Home'>
    <center>
    <div id="home-cont" class="flex justify-center align-center">
        <img src="../sf.jpg" class="z-0">
        <div id="text-cont" class="flex z-1 absolute flex-col">
            <p class="text-6xl ">S & R Freelance</p>
            <p class="">short blurb</p>
        </div>

    </div>

        
    </center>
    
</MyLayout>