html{
    height: 100%;
    width: 100%;
}

header{
    position: relative;
    padding-top: 10px;
    height: 130px;
    box-sizing: border-box;
    /* border: 1px solid; /*this is only for testing */
}

*,
*:before,
*:after {
    box-sizing: inherit;       /* enable the "border-box effect" everywhere */
}

body{
    position: relative;
    color: white;
    font-family: 'Quicksand', sans-serif;
    min-height: 100%;
    font-size: 20px;
    overflow: auto;
    padding-bottom: 150px;
    /* border: 1px solid; /*this is only for testing */
}

hr{
    width: 90%;
}

footer{
    color: white; 
    font-family: 'Quicksand', sans-serif;
    position: absolute;
    bottom: 0;
}