---
import '../stylesheets/general.css';
---

<footer class="footer p-10 bg-neutral text-neutral-content">
  <div>
    <span class="footer-title">Services</span> 
    <a class="link link-hover">Branding</a>
  </div> 

  <div>
    <span class="footer-title">Company</span> 
    <a class="link link-hover" href="/aboutus/">About us</a>
    <a class="link link-hover" href="/contact/">Contact</a>
  </div> 

  <div>
    <span class="footer-title">Legal</span> 
    <a class="link link-hover" href="/tos/">Terms of service</a>
    <a class="link link-hover" href="/privacypolicy/">Privacy policy</a>
  </div>
</footer>