---
import '../stylesheets/general.css';
---
<footer class="footer p-10 text-neutral-content flex flex-nowrap justify-evenly">
  <div>
    <span class="footer-title flex-auto w-14 grow">Company</span> 
    <a class="link link-hover" href="/aboutus/">About us</a>
    <a class="link link-hover" href="/contact/">Contact</a>
  </div> 

  <div>
    <span class="footer-title flex-auto w-14 grow">Legal</span> 
    <a class="link link-hover" href="/tos/">Terms of service</a>
    <a class="link link-hover" href="/privacypolicy/">Privacy policy</a>
  </div>
</footer>