---
import '../stylesheets/general.css';
---

<header>
     <img src="./thelogo.png" 
            style="height: 120px; padding-left: 10px; position: absolute;">

    <p class="absolute top-0 right-0" style="padding-right: 15px; padding-top: 10px">
        login/username placeholder
    </p>

    <center style="padding-top: 40px;">
        <div class="btn-group">
            <button class="btn btn-active">About Us</button>
            <button class="btn">Pricing</button>
            <button class="btn">Contact</button>
            <button class="btn">CS Projects</button>
            <button class="btn">Other Projects</button>
        </div>
    </center>
</header>