---
import '../stylesheets/general.css';
---

<header>
    <div class="w-24 rounded-full" >
        <a href="/">
            <img src="./thelogo.png" 
            style="height: 100px; padding-left: 10px; position: absolute; border-radius: 50%;">
        </a>
    </div>

    <center style="padding-top: 40px;">
        <div class="btn-group">
            <a class="btn btn-outline" href="/aboutus/">About Us</a>
            <a class="btn btn-outline" href="/pricing/">Pricing</a>
            <a class="btn btn-outline" href="/contact/">Contact</a>
            <a class="btn btn-outline" href="/projects/">Projects</a>
        </div>
    </center>
</header>