---
import '../stylesheets/general.css';
---

<header>
    <div class="w-24 rounded-full" >
        <img src="./thelogo.png" 
        style="height: 120px; padding-left: 10px; position: absolute; border-radius: 50%;">
    </div>

    <center style="padding-top: 40px;">
        <div class="btn-group">
            <!-- <button class="btn btn-active">About Us</button> -->
            <button class="btn btn-outline">About Us</button>
            <button class="btn btn-outline">Pricing</button>
            <button class="btn btn-outline">Contact</button>
            <button class="btn btn-outline">Projects</button>
        </div>
    </center>
</header>