<center>
    <div class="columns-3" title="header" 
        style="color:white; 
        font-family: 'Quicksand', sans-serif;">
            <img src="./thelogo.png" style="height: 100px;">

            <p style="border-top: 1000px">
                S & R
            </p>
    </div>
</center>

<center>
    <div class="btn-group">
        <button class="btn btn-active">About Us</button>
        <button class="btn">Pricing</button>
        <button class="btn">Contact</button>
        <button class="btn">CS Projects</button>
        <button class="btn">Other Projects</button>
    </div>
</center>