---
import Header from './header.astro';
import Footer from './footer.astro';
import '@fontsource/quicksand';
---

<html lang="en">
        <head>
            <meta charset="UTF-8">   
            
            <style>
                @import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
            </style>
            <title>Best Freelance Work</title>
        </head>
    
        <body style="background-color:#161616; color:white; font-family: 'Quicksand', sans-serif;">
            <Header />
            <slot />
            <Footer />
        </body>
</html>