---
import Header from '../components/header.astro';
import Footer from '../components/footer.astro';
import '../stylesheets/default.css';
import '../stylesheets/general.css';
import '@fontsource/quicksand';
---

<html lang="en">
        <head>
            <meta charset="UTF-8">   
            
            <title>Best Freelance Work</title>
        </head>
        
        <Header />

        <body>
            <slot />
        </body>  
        <br>
        <Footer /> 
</html>